/* tag - global*/

* {
    box-sizing: border-box;
    /*outline: 1px black solid;*/
}

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin: 0;
}

h1,
h2,
h3{
    padding: 0;
    margin: 0;
}

article {
    padding: 10px;
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;

}

a {
    text-decoration: none;
    color: #E5E7EB;
}

footer {
    margin-top: auto;
    padding: 95px;
    text-align: center;
}

/* !classes! */

.ul {
    display: flex;
}

.li {
    padding: 10px;
    font-size: 18px;
    color: #E5E7EB;
}

/* HEADER */
.header,
.main-one,
footer {
    background-color: #1F2937;
    padding: 0 95px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.footer {
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 80px;
}

/*MAIN ONE*/

.main-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 95px;
    gap: 20px;
}

.sub-one-left,
.sub-one-right {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 300px;
    align-items: center;
    max-width: 550px;
    height: auto;
}

.sub-one-left > p {
    font-size: 18px;
    color: #E5E7EB;

}

.hero-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    flex-wrap: wrap;
}

.button {
    background-color: #3882f6 ;
    color: #F9FAF8;
    border-radius: 5px;
    border-color: transparent;
    padding: 4px 20px;
}

.sub-one-right {
    background-color: #E5E7EB;
    height: 200px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

/* MAIN TWO */

.main-two {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 95px;
    margin-bottom: 70px;
}

.upper-head {
    display: flex;
    justify-content: center;
    align-items: center;
}

.h2 {
    padding: 16px;
    font-size: 36px;
    font-weight: 900;
}

.card-container {
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.two-img {
    display: flex;
    flex: 1 0 200px;
    margin: 10px;
    height: 200px;
    width: 200px;
    border: 3px solid #3882f6;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}

/* MAIN THREE */

.main-three {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 95px;
    background-color: #E5E7EB;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    margin-bottom: 10px;
}

.name {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    padding: 5px;
}


/* MAIN FOUR */

.main-four {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 95pxs
}

.action {
    display: flex;
    background-color: #3882f6;
    color: #E5E7EB;
    margin: 60px 95px;
    padding: 20px;
    border-radius: 15px;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.sub-action > p {
    margin: 0;
}

.bottom {
    outline: 1px solid #E5E7EB;
}



